p {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 120%;
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 500%;
}

h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 200%;
}

h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 175%;
}

h4 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 130%;
}

img {
    width: 100%;
    margin: 0 auto 0 auto;
}

div#content {
    width: 50%;
    margin: 0 auto 0 auto;
}

div#header {
    width: 50%;
    margin: 0 auto 0 auto;
}

div#header2 {
    width: 50%;
    margin-top: -50;
    margin-left: 500;
    margin-bottom: -30;
}

div#sidebar {
    width: 20%;
    float: left;
    margin-left: 20;
    margin-top: -100;
}

